# Git
.git
.gitignore

# Documentation
README.md
README.md.txt

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!target/AhorrArte-Platform-0.0.1-SNAPSHOT.jar

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime
*.jar
*.war
*.ear
!target/AhorrArte-Platform-0.0.1-SNAPSHOT.jar

# Security
*.key
*.pem
